body {
  position: relative;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #250821), color-stop(47%, #496a81), color-stop(85%, #649195));
  background: linear-gradient(90deg, #250821 15%, #496a81 47%, #649195 85%);
}

#prod-list {
  list-style-type: none;
}

.sidebar-plus-content {
  display: inline-block;
}

@media (max-width: 599px) {
  .sidebar-plus-content {
    margin-left: 1%;
    width: 50%;
  }
}

#nav-sidebar h2 {
  margin-top: 0px;
  text-align: center;
}

#nav-brand {
  margin: 0;
  padding-top: 30px;
}

#sidebar-list {
  display: block;
  list-style-type: none;
  margin: 65px 0px 0px 0px;
  padding: 0px;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}

#sidebar-list li {
  text-align: center;
  height: 100px;
  margin-bottom: 15px;
}

#sidebar-list a {
  display: block;
  color: rgba(255, 255, 255, 0.9);
  height: 100px;
  font-size: 25px;
  text-decoration: none;
}

#sidebar-list .content p {
  margin: 0;
  padding: 30px;
}

#sidebar-list .content {
  opacity: 0.75;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

#sidebar-list .current {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 599px) {
  #sidebar-list {
    height: 50%;
    width: 185%;
    position: static;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
  }
  #sidebar-list li {
    height: 100%;
  }
  #sidebar-list a {
    height: 100%;
    font-size: 15px;
  }
  #sidebar-list .content p {
    padding: 15px;
  }
}

#sidebar-list:hover .content {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
}

.main-content {
  margin-top: 65px;
  margin-left: 21%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10px 10px;
  padding: 10px;
}

@media (max-width: 599px) {
  .grid-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin-left: 0%;
    margin-right: 0%;
  }
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5%;
  padding: 50px;
  font-size: 30px;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.grid-item img {
  min-height: 500px;
  max-height: 500px;
  min-width: 400px;
  max-width: 400px;
}

@media (max-width: 599px) {
  .grid-item {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 1%;
  }
  .grid-item img {
    min-height: 300px;
    max-height: 300px;
    min-width: 200px;
    max-width: 200px;
  }
}

.grid-item:hover {
  border: 1px solid black;
  border-radius: 10%;
  background-color: #bba0b23b;
}

.grid-info-box {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: auto;
}

.tag-info {
  display: inline-block;
  padding: 0;
  margin-right: 0;
  font-size: 25px;
  height: 2em;
  color: rgba(255, 255, 255, 0.9);
}

.price-tag {
  display: inline-block;
  font-size: 25px;
  color: white;
  border-left: 3px solid white;
}

.carousel {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.carousel .carousel-inner {
  border: 3px solid black;
  border-radius: 50px;
  padding-left: 35%;
}

.carousel img {
  max-width: 40%;
  max-height: 200px;
  height: 200px;
}

@media (max-width: 599px) {
  .carousel {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
  }
  .carousel .carousel-inner {
    padding-left: 25%;
  }
  .carousel img {
    max-width: 70%;
    max-height: 150px;
    height: 150px;
  }
}
/*# sourceMappingURL=productsstyles.css.map */